.gzjy{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.gzjy ul{
    width: 300%;
    height: 600px;
    overflow: hidden;
}
.gzjy ul li{
    width: 1196px;
    height: 596px;
    float: left;
    position: relative;
    border: 2px solid #fff;
}
.gzjy ul li h3{
    font-size: 16px;
    padding: 20px 0;
    margin: 0 auto;
    height: 24px;
    line-height: 24px;
    color: #fff;
}
.gzjy ul li img{
    display: block;
    width: 100%;
    height: 100%;
}
.gzjy .mask {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}
.gzjy .mask p{
    width: 80%;
    height: 476px;
    padding: 120px 10% 0 10%;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
}
.gzjy .mask p .mask-tit{
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: 35px;
    left: 50%;
    font-size: 24px;
    color: yellow;
    transform:translateX(-50%);
}
.gzjy ul li:hover .mask{
    display: block;
}
.gzjy .leftbtn,
.gzjy .rightbtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 36px;
    height: 64px;
    background:url(../images/left.png) no-repeat;
    cursor: pointer;
    display: none;
}
.gzjy .rightbtn{
    left: auto;
    right: 20px;
    background: url(../images/right.png) no-repeat;
}
.gzjy:hover .leftbtn,
.gzjy:hover .rightbtn{
    display: block;
}