* { margin: 0; padding: 0;}
ul { list-style-type: none;}
body { font: 14px "Microsoft Yahei"; overflow-x: hidden;}
h1 { width: 900px; margin: 40px auto 100px; font: 32px "Microsoft Yahei"; text-align: center;}
h2 { font: 96px "Microsoft Yahei"; font-weight: 500; text-align: center; color: #f35626;}
.wrap p { margin-bottom: 100px; font: 30px "Microsoft Yahei"; text-align: center; color: #999;}
.list { width: 1000px; margin: 0 auto;}
dl { width: 1000px; margin: 10px auto; overflow: hidden;}
dt { float: left; width: 1000px; padding: 5px 0; border-bottom: 1px solid #ddd; font-weight: 700;}
dd { float: left; margin: 10px 10px 0 0; padding: 5px 10px; background-color: #eee; cursor: pointer;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    margin: 0 auto;
    position: relative;
}
.dowebok-explain  { display: none; margin-top: 20px; margin-bottom: 20px; font-size: 14px; text-align: center; color: #f50;}

.tab { width: 900px; margin: 0 auto; border: 1px solid #ddd;}
.tabNav { padding-bottom: 10px; overflow: hidden; zoom: 1; background-color: #f5f5f5;}
.tabNav li { float: left; margin: 10px 0 0 10px; display: inline;}
.tabNav a { float: left; padding: 5px 10px; color: #444; text-decoration: none;}
.tabNav .active a { color: #fff; background-color: #f35626;}

.tabPane { display: none; overflow: hidden; zoom: 1;}
.tabCnt .active { display: block;}
.tabCnt { padding: 10px 20px 20px;}
.tabPane li { float: left; margin: 10px 10px 0 0; padding: 5px 10px; background-color: #eee; cursor: pointer;}
.tabPane .active { color: #f35626;}
		html, body {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    overflow:hidden;
		    -webkit-tap-highlight-color: rgba(0,0,0,0);
		}
.section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
    overflow: hidden;
    padding-top: 90px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.fp-tableCell{
    vertical-align: top;
}
.liuxing {
	width: 100%;
	height: 100%;
	background: url(../images/section_home_fg.png) 0 0 no-repeat;
	animation: liuxingyu 4s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes liuxingyu {
	0% {
		background-position: 1080px -1080px;
		opacity: 0;
	}
	50% {
		background-position: 0px 0px;
		opacity: 1;
	}
	100% {
		background-position: -1080px 1080px;
		opacity: 0;
	}
}
.top{
    background: #333;
    position: fixed;
    width: 100%;
    top: 0;
    color: #fff;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    z-index: 10;
}

.top h3{
	cursor: default;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.top-menu{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #fff;
    background: #333;
    border-bottom: 3px solid #999;
	 text-align: center;
    padding: 10px 0;
}
.top-menu ul li {
    display: inline-block;
}
.top-menu ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    font-family: '微软雅黑';
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl-effect-1 a::before, .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
.top-menu ul li a:hover {
    color: #3DED61;
        -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.cl-effect-1 a:hover::before, .cl-effect-1 a:hover::after, .cl-effect-1 a:focus::before, .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
.modules-tit{
	width: 100%;
	height: 40px;
	line-height: 40px;
    margin-bottom: 30PX;
	font-size: 22px;
	text-align: center;
	color: #fff;
	font-family: 'MavenPro-Bold';
}
/*首屏*/
.containerin {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.port-showcase .about-me {
    width: 100%;
    min-width: 990px;
        height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.row {
	width: 100%;
	height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-6 {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}
.img-circle {
    border-radius: 50%;
}
.port-showcase .img-profile {
    position: absolute;
    left: 50%;
    margin-top: 20%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    display: block;
    width: 50%;
}
.port-showcase .about-me .heading {
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
    text-align: left;
}
.port-showcase p, .port-showcase .heading, .port-showcase .btn {
    color: #F8F8F8;
}
.heading + p {
    font-family: 'Lato', sans-serif;
}
.border-btn.btn-warning {
    border: 2px #ec971f solid;
}
.port-showcase p{
    color: #F8F8F8;
    text-align: left;
    font-size: 20px;
    width: 95%;
    line-height: 35px;
}
.btn.btn-icon.btn-icon-right.btn-lg:hover, .btn.btn-icon.btn-icon-right.btn-lg:focus {
    padding-right: 35px;
}
.txt-border {
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #E0FF00 !important;
    padding: 0 25px;
    border-radius: 5px;
}
/*项目展示*/

.gallery-grids {
    margin-top: 30px;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto; 
}
.da-thumbs {
    list-style: none;
    position: relative;
    padding: 0;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.da-thumbs li {
    float: left;
    margin: 0 15px 20px 15px;
    position: relative;
    width: 350px;
    height: 215px;
    border: 10px solid #eee;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a, 
.da-thumbs li a img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 4s;
    -webkit-transition: transform 4s;
} 
.da-thumbs li a:hover img{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.da-thumbs li a div {
    position: absolute;
    background: rgba(90, 204, 66, 0.79);
    width: 100%;
    height: 100%;
}
.da-thumbs li a div h5 {
    color: #FFF;
    font-size:16px;
    margin: 50px 0 0 0;
    text-align: center;
    text-transform: capitalize;
}
.da-thumbs li a div span {
    display: block;
    padding: 10px 0;
    margin: 11px 20px 20px 20px;
    font-weight: normal;
    text-transform: capitalize;
    color: rgba(255,255,255,0.9);
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 1200px){
	.da-thumbs {
		list-style: none;
		position: relative;
		padding: 0;
		width: 1035px;
		margin: 0 auto;
		overflow: hidden;
	}

	.da-thumbs li {
	    float: left;
	    margin: 0px 10px 20px 10px;
	    position: relative;
	    width: 305px;
	    height: 215px;
	    border: 10px solid #eee;
	    box-shadow: 0 0 15px 1px #999;
	}
}
@media screen and (max-width: 1035px){
	.da-thumbs {
		list-style: none;
		position: relative;
		padding: 0;
		width: 990px;
		margin: 0 auto;
		overflow: hidden;
	}
	.da-thumbs li {
	    float: left;
	    margin: 8px 15px 20px 15px;
	    position: relative;
	    width: 285px;
	    height: 196px;
	    border: 10px solid #eee;
	    box-shadow: 0 0 15px 1px #999;
	}
}
@media screen and (max-width: 990px){
	.da-thumbs {
		list-style: none;
		position: relative;
		padding: 0;
		width: 990px;
		margin: 0 auto;
		overflow: hidden;
	}
	.da-thumbs li {
        float: left;
	    margin: 8px 15px 20px 15px;
	    position: relative;
	    width: 280px;
	    height: 196px;
	    border: 10px solid #eee;
	    box-shadow: 0 0 15px 1px #999;
	}
}
@media screen and (max-width: 640px){
	.da-thumbs {
		list-style: none;
		position: relative;
		padding: 0;
		width: 640px;
		margin: 0 auto;
		overflow: hidden;
	}
	.da-thumbs li {
        float: left;
	    margin: 8px 15px 20px 15px;
	    position: relative;
	    width: 280px;
	    height: 196px;
	    border: 10px solid #eee;
	    box-shadow: 0 0 15px 1px #999;
	}
}
/*技能*/
.jineng{
    overflow: hidden;
    max-width: 1200px;
    margin: 20px auto 0;
    vertical-align: top;
    height: 60px;
    padding-left: 100px; 
}
.jineng p {
    float: left;
    margin-right: 20px;
    height: 60px;
    width:  240PX;
    text-align: left;
}
.progress {
    float: left;
    width: 60%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: left;
    margin: 15px 0 0 0;
    overflow: hidden;
    box-shadow: 0 0 5px 0px #ddd inset;
}
.progress span {
    display: block;
    width: 80%;
    height: 100%;
    border-radius: 15px;
    background: #2989d8; /* Old browsers */
    background: -moz-linear-gradient(45deg, #2989d8 33%, #7db9e8 34%, #7db9e8 59%, #2989d8 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(33%, #2989d8), color-stop(34%, #7db9e8), color-stop(59%, #7db9e8), color-stop(60%, #2989d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #2989d8 33%, #7db9e8 34%, #7db9e8 59%, #2989d8 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #2989d8 33%, #7db9e8 34%, #7db9e8 59%, #2989d8 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #2989d8 33%, #7db9e8 34%, #7db9e8 59%, #2989d8 60%); /* IE10+ */
    background: linear-gradient(45deg, #2989d8 33%, #7db9e8 34%, #7db9e8 59%, #2989d8 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2989d8', endColorstr='#2989d8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-size: 60px 30px;
    text-align: center;
    color: #fff;
    -webkit-animation: htmlload 3s ease-in;
}
@-webkit-keyframes htmlload {
    0% { width: 0%; }
    100% { width: 80%; }
}
.html-txt p{
    color: #2989d8;
}
.html-txt  span{
     width: 80%;
}
.css-txt p{
    color: #f3b529;
}
.css-txt .progress span {
     width: 90%;
    background: #f3b529; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f3b529 33%, #7db9e8 34%, #7db9e8 59%, #2989d8 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(33%, #f3b529), color-stop(34%, #7db9e8), color-stop(59%, #7db9e8), color-stop(60%, #f3b529)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #f3b529 33%, #7db9e8 34%, #7db9e8 59%, #f3b529 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #f3b529 33%, #7db9e8 34%, #7db9e8 59%, #f3b529 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #f3b529 33%, #7db9e8 34%, #7db9e8 59%, #f3b529 60%); /* IE10+ */
    background: linear-gradient(45deg, #f3b529 33%, #7db9e8 34%, #7db9e8 59%, #f3b529 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3b529', endColorstr='#f3b529', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-size: 60px 30px;
     -webkit-animation: cssload 3s ease-in;

}
@-webkit-keyframes cssload {
    0% { width: 0%; }
    100% { width: 90%; }
}
.js-txt p{
    color: yellow;
}
.js-txt .progress span {
     width: 60%;
     background: yellow; /* Old browsers */
    background: -moz-linear-gradient(45deg, yellow 33%, #7db9e8 34%, #7db9e8 59%, yellow 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(33%, yellow), color-stop(34%, #7db9e8), color-stop(59%, #7db9e8), color-stop(60%, yellow)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, yellow 33%, #7db9e8 34%, #7db9e8 59%, yellow 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,yellow 33%, #7db9e8 34%, #7db9e8 59%, yellow 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, yellow 33%, #7db9e8 34%, #7db9e8 59%, yellow 60%); /* IE10+ */
    background: linear-gradient(45deg, yellow 33%, #7db9e8 34%, #7db9e8 59%, yellow 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='yellow', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-animation: jsload 3s ease-in;
    background-size: 60px 30px;
}

@-webkit-keyframes jsload {
    0% { width: 0%; }
    100% { width: 60%; }
}
.jq-txt p{
    color: #3ebfbe;
}
.jq-txt .progress span {
     width: 70%;
     background: #3ebfbe; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3ebfbe 33%, #fff 34%, #fff 59%, #3ebfbe 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(33%, #3ebfbe), color-stop(34%, #7db9e8), color-stop(59%, #7db9e8), color-stop(60%, #3ebfbe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #3ebfbe 33%, #fff 34%, #fff 59%, #3ebfbe 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,#3ebfbe 33%, #fff 34%, #fff 59%, #3ebfbe 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #3ebfbe 33%, #fff 34%, #fff 59%, #3ebfbe 60%); /* IE10+ */
    background: linear-gradient(45deg, #3ebfbe 33%, #fff 34%, #fff 59%, #3ebfbe 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ebfbe', endColorstr='#3ebfbe', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-animation: jqload 3s ease-in;
    background-size: 60px 30px;
}

@-webkit-keyframes jqload {
    0% { width: 0%; }
    100% { width: 70%; }
}